body {
  font-family: Arial;
  margin: 0;
  background: #fff;
  color: #111;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

/* HEADER */
header {
  background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* NAV */
nav ul {
  display: none;
  list-style: none;
}

nav ul.open {
  display: block;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  position: relative;
  background-color: #1e3a8a; /* Matches  header/footer blue */
  color: #ffffff;
}

.hero img {
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}

/* CTA */
.cta {
  background: #ffcc00;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

/* SPOTLIGHT */
#spotlights {
  display: grid;
  gap: 1rem;
}

/* DESKTOP */
@media (min-width: 768px) {
  nav ul {
    display: flex;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    grid-column: span 2;
  }
}

/* FOOTER */
footer {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 1rem;
}